@using TRS.Models
@model DateViewModel

@{
    ViewData["Title"] = "Month activities";
}

<h1>@ViewData["Title"]</h1>


@using(Html.BeginForm()) {
    @Html.TextBoxFor(model => model.date, new {type = "month"})
    <input type = "submit" value = "Show"/>
}

@{
    Html.RenderPartial("Activities", (Reports)ViewBag.Reports);
}

<button class = "btn btn-primary" asp-controller = "Projects" asp-action = "CloseMonth" asp-route-code = "@ViewBag.ProjectCode">Close month</button>