@model DateViewModel

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>



@* <form method = "post">
    <h1>TESTY 2</h1>
    @Html.EditorFor(model => model.date)
    <input type = "submit" value = "Przycisk"/>
    <!--
    @Html.ActionLink("TESTY", "Test", Model, new { @class = "btn btn-primary btn-large"})
    -->
</form> *@