@using TRS.Models
@model IEnumerable<Report>


@{
    ViewData["Title"] = "Time Reporting System";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

@* <form>
    <button class = "btn btn-primary" asp-controller = "Activities" asp-action = "DayActivities">Day</button>
    <button class = "btn btn-primary" asp-controller = "Activities" asp-action = "MonthActivities">Month</button>
</form> *@